{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OpenNMS V1 RESTful API",
    "description" : "OpenNMS V1 RESTful API",
    "contact" : {
      "name" : "OpenNMS",
      "url" : "http://www.opennms.com/"
    },
    "license" : {
      "name" : "OpenNMS(R) Licensing (GNU Affero General Public License)",
      "url" : "http://www.gnu.org/licenses/agpl.html"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "http://opennms.infocube.it:8980/opennms/rest"
  } ],
  "tags" : [ {
    "name" : "Alarms",
    "description" : "Alarms API V1"
  }, {
    "name" : "Alarms Stats",
    "description" : "Alarms Stats API"
  }, {
    "name" : "Asset Records",
    "description" : "Asset Records API"
  }, {
    "name" : "Asset",
    "description" : "Asset API"
  }, {
    "name" : "Availability",
    "description" : "Availability API"
  }, {
    "name" : "Categories",
    "description" : "Categories API"
  }, {
    "name" : "Config",
    "description" : "Config API"
  }, {
    "name" : "Events",
    "description" : "Events API"
  }, {
    "name" : "FileSystem",
    "description" : "File System API"
  }, {
    "name" : "ForeignSourcesConfig",
    "description" : "Foreign Sources Config API"
  }, {
    "name" : "ForeignSources",
    "description" : "Foreign Sources API"
  }, {
    "name" : "Graphs",
    "description" : "Graphs API"
  }, {
    "name" : "Groups",
    "description" : "Groups API"
  }, {
    "name" : "HardwareInventory",
    "description" : "Hardware Inventory API"
  }, {
    "name" : "Heatmap",
    "description" : "Heatmap API"
  }, {
    "name" : "Ifservices",
    "description" : "Ifservices API"
  }, {
    "name" : "Info",
    "description" : "Info API"
  }, {
    "name" : "Ksc",
    "description" : "Ksc API"
  }, {
    "name" : "Logs",
    "description" : "Logs API"
  }, {
    "name" : "Minions",
    "description" : "Minions API"
  }, {
    "name" : "MonitoringLocations",
    "description" : "Monitoring Locations API"
  }, {
    "name" : "Nodes",
    "description" : "Nodes API"
  }, {
    "name" : "Notifications",
    "description" : "Notifications API"
  }, {
    "name" : "Outages",
    "description" : "Outages API"
  }, {
    "name" : "RequisitionNames",
    "description" : "Requisition Names API"
  }, {
    "name" : "Requisitions",
    "description" : "Requisitions API"
  }, {
    "name" : "Resources",
    "description" : "Resources API"
  }, {
    "name" : "Sched-outages",
    "description" : "Scheduled Outages API"
  }, {
    "name" : "SnmpConfig",
    "description" : "SNMP Config API"
  }, {
    "name" : "Timeline",
    "description" : "Timeline API"
  }, {
    "name" : "Users",
    "description" : "Users API"
  }, {
    "name" : "Web-Assets",
    "description" : "Web Assets API"
  }, {
    "name" : "Whoami",
    "description" : "Whoami API"
  } ],
  "paths" : {
    "/acks" : {
      "get" : {
        "operationId" : "getAcks",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAcknowledgmentCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAcknowledgmentCollection"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAcknowledgmentCollection"
                },
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "acknowledge",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/acks/{id}" : {
      "get" : {
        "operationId" : "getAcknowledgment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAcknowledgment"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAcknowledgment"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAcknowledgment"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/acks/count" : {
      "get" : {
        "operationId" : "getCount",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/alarms/{alarmId}" : {
      "get" : {
        "tags" : [ "Alarms" ],
        "operationId" : "getAlarm",
        "parameters" : [ {
          "name" : "alarmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Alarms" ],
        "operationId" : "updateAlarm",
        "parameters" : [ {
          "name" : "alarmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/alarms" : {
      "get" : {
        "tags" : [ "Alarms" ],
        "operationId" : "getAlarms",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAlarmCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAlarmCollection"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAlarmCollection"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Alarms" ],
        "operationId" : "updateAlarms",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/alarms/count" : {
      "get" : {
        "tags" : [ "Alarms" ],
        "operationId" : "getCount_1",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/stats/alarms" : {
      "get" : {
        "tags" : [ "Alarms Stats" ],
        "operationId" : "getStats",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmStatistics"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmStatistics"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmStatistics"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/stats/alarms/by-severity" : {
      "get" : {
        "tags" : [ "Alarms Stats" ],
        "operationId" : "getStatsForEachSeverity",
        "parameters" : [ {
          "name" : "severities",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmStatisticsBySeverity"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmStatisticsBySeverity"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlarmStatisticsBySeverity"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/assetRecord" : {
      "get" : {
        "tags" : [ "Asset Records" ],
        "operationId" : "getAssetRecord",
        "parameters" : [ {
          "name" : "nodeCriteria",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAssetRecord"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsAssetRecord"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Asset Records" ],
        "operationId" : "updateAssetRecord",
        "parameters" : [ {
          "name" : "nodeCriteria",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/assets/suggestions" : {
      "get" : {
        "tags" : [ "Asset" ],
        "operationId" : "getAssetSuggestions",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "suggestions" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "$ref" : "#/components/schemas/SuggestionList"
                      },
                      "example" : null,
                      "xml" : {
                        "name" : "mappings",
                        "wrapped" : true
                      }
                    },
                    "empty" : {
                      "type" : "boolean",
                      "example" : null
                    }
                  },
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/SuggestionList"
                  },
                  "example" : null,
                  "xml" : {
                    "name" : "suggestions"
                  }
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "suggestions" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "$ref" : "#/components/schemas/SuggestionList"
                      },
                      "example" : null,
                      "xml" : {
                        "name" : "mappings",
                        "wrapped" : true
                      }
                    },
                    "empty" : {
                      "type" : "boolean",
                      "example" : null
                    }
                  },
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/SuggestionList"
                  },
                  "example" : null,
                  "xml" : {
                    "name" : "suggestions"
                  }
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "suggestions" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "$ref" : "#/components/schemas/SuggestionList"
                      },
                      "example" : null,
                      "xml" : {
                        "name" : "mappings",
                        "wrapped" : true
                      }
                    },
                    "empty" : {
                      "type" : "boolean",
                      "example" : null
                    }
                  },
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/SuggestionList"
                  },
                  "example" : null,
                  "xml" : {
                    "name" : "suggestions"
                  }
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/availability/categories/{category}" : {
      "get" : {
        "tags" : [ "Availability" ],
        "operationId" : "getCategory",
        "parameters" : [ {
          "name" : "category",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Category"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Category"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Category"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/availability/categories/{category}/nodes/{nodeId}" : {
      "get" : {
        "tags" : [ "Availability" ],
        "operationId" : "getCategoryNode",
        "parameters" : [ {
          "name" : "category",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityNode"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityNode"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityNode"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/availability/categories/{category}/nodes" : {
      "get" : {
        "tags" : [ "Availability" ],
        "operationId" : "getCategoryNodes",
        "parameters" : [ {
          "name" : "category",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NodeList"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NodeList"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NodeList"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/availability/nodes/{nodeId}" : {
      "get" : {
        "tags" : [ "Availability" ],
        "operationId" : "getNode",
        "parameters" : [ {
          "name" : "nodeId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityNode"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityNode"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityNode"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/availability" : {
      "get" : {
        "tags" : [ "Availability" ],
        "operationId" : "getNodeAvailability",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityData"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityData"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AvailabilityData"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/categories/{categoryName}/groups/{groupName}" : {
      "put" : {
        "tags" : [ "Categories" ],
        "operationId" : "addCategoryToGroup",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Categories" ],
        "operationId" : "removeCategoryFromGroup",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/categories/{categoryName}/nodes/{nodeCriteria}" : {
      "get" : {
        "tags" : [ "Categories" ],
        "operationId" : "getCategoryForNode",
        "parameters" : [ {
          "name" : "nodeCriteria",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategory"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategory"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Categories" ],
        "operationId" : "addCategoryToNode",
        "parameters" : [ {
          "name" : "nodeCriteria",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Categories" ],
        "operationId" : "removeCategoryFromNode",
        "parameters" : [ {
          "name" : "nodeCriteria",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/categories" : {
      "get" : {
        "tags" : [ "Categories" ],
        "operationId" : "listCategories",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategoryCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategoryCollection"
                },
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Categories" ],
        "operationId" : "createCategory",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/OnmsCategory"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/categories/{categoryName}" : {
      "get" : {
        "tags" : [ "Categories" ],
        "operationId" : "getCategory_1",
        "parameters" : [ {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategory"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategory"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Categories" ],
        "operationId" : "updateCategory",
        "parameters" : [ {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Categories" ],
        "operationId" : "deleteCategory",
        "parameters" : [ {
          "name" : "categoryName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/categories/nodes/{nodeCriteria}" : {
      "get" : {
        "tags" : [ "Categories" ],
        "operationId" : "getCategoriesForNode",
        "parameters" : [ {
          "name" : "nodeCriteria",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategoryCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategoryCollection"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/categories/groups/{groupName}" : {
      "get" : {
        "tags" : [ "Categories" ],
        "operationId" : "listCategoriesForGroup",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategoryCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsCategoryCollection"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/agents/{filterName}/{serviceName}.json" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getAgentsJsonWithExtension",
        "parameters" : [ {
          "name" : "filterName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/agents/{filterName}/{serviceName}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getAgentsXmlWithoutExtension",
        "parameters" : [ {
          "name" : "filterName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/agents/{filterName}/{serviceName}.xml" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getAgentsXmlWithExtension",
        "parameters" : [ {
          "name" : "filterName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "serviceName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/datacollection" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getDataCollectionConfiguration",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/email-nbi" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getConfiguration",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setConfiguration",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailNorthbounderConfig"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/email-nbi/destinations/{destinationName}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getEmailDestination",
        "parameters" : [ {
          "name" : "destinationName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailDestination"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailDestination"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailDestination"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateEmailDestination",
        "parameters" : [ {
          "name" : "destinationName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeEmailDestination",
        "parameters" : [ {
          "name" : "destinationName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/email-nbi/destinations" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getEmailDestinations",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setEmailDestination",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailDestination"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailDestination"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailDestination"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/email-nbi/status" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getStatus",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "getStatus_1",
        "parameters" : [ {
          "name" : "enabled",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/default/readmail" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getDefaultReadmailConfiguration",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/default/sendmail" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getDefaultSendmailConfiguration",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/end2ends/{end2endConfig}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getEnd2EndMailConfiguration",
        "parameters" : [ {
          "name" : "end2endConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/End2endMailConfig"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/End2endMailConfig"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/End2endMailConfig"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateEnd2endConfiguration",
        "parameters" : [ {
          "name" : "end2endConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeEnd2endConfig",
        "parameters" : [ {
          "name" : "end2endConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/end2ends" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getEnd2endConfigurations",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setEnd2EndMailConfiguration",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/End2endMailConfig"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/End2endMailConfig"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/End2endMailConfig"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/readmails/{readmailConfig}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getReadmailConfiguration",
        "parameters" : [ {
          "name" : "readmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadmailConfig"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadmailConfig"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadmailConfig"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateReadmailConfiguration",
        "parameters" : [ {
          "name" : "readmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeReadmailConfig",
        "parameters" : [ {
          "name" : "readmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/readmails" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getReadmailConfigurations",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setReadmailConfiguration",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReadmailConfig"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReadmailConfig"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReadmailConfig"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/sendmails/{sendmailConfig}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getSendmailConfiguration",
        "parameters" : [ {
          "name" : "sendmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendmailConfig"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendmailConfig"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SendmailConfig"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateSendmailConfiguration",
        "parameters" : [ {
          "name" : "sendmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeSendmailConfig",
        "parameters" : [ {
          "name" : "sendmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/sendmails" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getSendmailConfigurations",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setSendmailConfiguration",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendmailConfig"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendmailConfig"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendmailConfig"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/default/readmail/{readmailConfig}" : {
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "setDefaultReadmailConfiguration",
        "parameters" : [ {
          "name" : "readmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/javamail/default/sendmail/{sendmailConfig}" : {
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "setDefaultSendmailConfiguration",
        "parameters" : [ {
          "name" : "sendmailConfig",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/jmx" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getJmxDataCollectionConfig",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmp" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getSnmpConfiguration",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmptrap-nbi" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getConfiguration_1",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setConfiguration_1",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapNorthbounderConfig"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmptrap-nbi/trapsinks/{trapsinkName}/import-mappings" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getImportMappings",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setImportMapping",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapMappingGroup"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapMappingGroup"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapMappingGroup"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmptrap-nbi/trapsinks/{trapsinkName}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getSnmpTrapSink",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnmpTrapSink"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnmpTrapSink"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SnmpTrapSink"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateSnmpTrapSink",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeSnmpTrapSink",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmptrap-nbi/trapsinks" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getSnmpTrapSinks",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setSnmpTrapSink",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapSink"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapSink"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SnmpTrapSink"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmptrap-nbi/status" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getStatus_2",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "getStatus_3",
        "parameters" : [ {
          "name" : "enabled",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/snmptrap-nbi/trapsinks/{trapsinkName}/import-mappings/{mappingName}" : {
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateImportMapping",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "mappingName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeImportMapping",
        "parameters" : [ {
          "name" : "trapsinkName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "mappingName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/syslog-nbi" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getConfiguration_2",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setConfiguration_2",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyslogNorthbounderConfig"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/syslog-nbi/destinations" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getEmailDestinations_1",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Config" ],
        "operationId" : "setSyslogDestination",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyslogDestination"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyslogDestination"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SyslogDestination"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/syslog-nbi/status" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getStatus_4",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "getStatus_5",
        "parameters" : [ {
          "name" : "enabled",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/syslog-nbi/destinations/{destinationName}" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getSyslogDestination",
        "parameters" : [ {
          "name" : "destinationName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyslogDestination"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyslogDestination"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyslogDestination"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Config" ],
        "operationId" : "updateSyslogDestination",
        "parameters" : [ {
          "name" : "destinationName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Config" ],
        "operationId" : "removeSyslogDestination",
        "parameters" : [ {
          "name" : "destinationName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/config/trapd" : {
      "get" : {
        "tags" : [ "Config" ],
        "operationId" : "getTrapdConfiguration",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "example" : null
              },
              "application/json" : {
                "example" : null
              },
              "application/atom+xml" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/events/count" : {
      "get" : {
        "tags" : [ "Events" ],
        "operationId" : "getCount_2",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/events/{eventId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "operationId" : "getEvent",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEvent"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEvent"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEvent"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Events" ],
        "operationId" : "updateEvent",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ack" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "operationId" : "getEvents",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEventCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEventCollection"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEventCollection"
                },
                "example" : null
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Events" ],
        "operationId" : "updateEvents",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "empty" : {
                    "type" : "boolean",
                    "example" : null
                  }
                },
                "additionalProperties" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Events" ],
        "operationId" : "publishEvent",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Event"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Event"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Event"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/events/between" : {
      "get" : {
        "tags" : [ "Events" ],
        "operationId" : "getEventsBetween",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEventCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEventCollection"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnmsEventCollection"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/filesystem/contents" : {
      "get" : {
        "tags" : [ "FileSystem" ],
        "operationId" : "getFileContents",
        "parameters" : [ {
          "name" : "f",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "FileSystem" ],
        "operationId" : "uploadFile",
        "parameters" : [ {
          "name" : "f",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Attachment"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "FileSystem" ],
        "operationId" : "deleteFile",
        "parameters" : [ {
          "name" : "f",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string",
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/filesystem/help" : {
      "get" : {
        "tags" : [ "FileSystem" ],
        "operationId" : "getFileHelp",
        "parameters" : [ {
          "name" : "f",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/markdown" : {
                "schema" : {
                  "type" : "object",
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/filesystem" : {
      "get" : {
        "tags" : [ "FileSystem" ],
        "operationId" : "getFiles",
        "parameters" : [ {
          "name" : "changedFilesOnly",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/filesystem/extensions" : {
      "get" : {
        "tags" : [ "FileSystem" ],
        "operationId" : "getSupportedExtensions",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : null,
                  "items" : {
                    "type" : "string",
                    "example" : null
                  }
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSourcesConfig/assets" : {
      "get" : {
        "tags" : [ "ForeignSourcesConfig" ],
        "operationId" : "getAssets",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSourcesConfig/detectors" : {
      "get" : {
        "tags" : [ "ForeignSourcesConfig" ],
        "operationId" : "getAvailableDetectors",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePluginConfigList"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePluginConfigList"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePluginConfigList"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSourcesConfig/policies" : {
      "get" : {
        "tags" : [ "ForeignSourcesConfig" ],
        "operationId" : "getAvailablePolicies",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePluginConfigList"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePluginConfigList"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SimplePluginConfigList"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSourcesConfig/categories" : {
      "get" : {
        "tags" : [ "ForeignSourcesConfig" ],
        "operationId" : "getCategories",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSourcesConfig/services/{groupName}" : {
      "get" : {
        "tags" : [ "ForeignSourcesConfig" ],
        "operationId" : "getServices",
        "parameters" : [ {
          "name" : "groupName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ElementList"
                },
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSources/{foreignSource}/detectors" : {
      "get" : {
        "tags" : [ "ForeignSources" ],
        "operationId" : "getDetectors",
        "parameters" : [ {
          "name" : "foreignSource",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DetectorCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DetectorCollection"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DetectorCollection"
                },
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ForeignSources" ],
        "operationId" : "addDetector",
        "parameters" : [ {
          "name" : "foreignSource",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetectorWrapper"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetectorWrapper"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DetectorWrapper"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSources" : {
      "get" : {
        "tags" : [ "ForeignSources" ],
        "operationId" : "getForeignSources",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForeignSourceCollection"
                },
                "example" : null
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForeignSourceCollection"
                },
                "example" : null
              },
              "application/atom+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForeignSourceCollection"
                },
                "example" : null
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ForeignSources" ],
        "operationId" : "addForeignSource",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForeignSource"
              },
              "example" : null
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForeignSource"
              },
              "example" : null
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForeignSource"
              },
              "example" : null
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "*/*" : {
                "example" : null
              }
            }
          }
        }
      }
    },
    "/foreignSources/{foreignSource}/policies" : {
      "get" : {
        "tags" : [ "ForeignSources" ],
        "operationId" : "getPolicies",
        "parameters" : [ {
          "name" : "foreignSource",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
[...]
